@page
@model Auth.API.Pages.Posts.CreateModel
@{
    ViewData["Title"] = "Create post";
}

<div class="max-w-xl mx-auto bg-white rounded-xl shadow-sm border border-slate-100 p-6">
    <h1 class="text-2xl font-semibold text-slate-900 mb-2">New post</h1>
    <p class="text-sm text-slate-600 mb-4">
       Creating a new post
    </p>    

    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="mb-3 rounded-md border border-red-200 bg-red-50 text-red-700 px-3 py-2 text-sm">
            @Model.ErrorMessage
        </div>
    }

    <form method="post" class="space-y-4">
        <div>
            <label asp-for="Input.Title" class="block text-sm font-medium text-slate-700 mb-1"></label>
            <input asp-for="Input.Title"
                   class="mt-1 block w-full rounded-md p-1 border border-gray-300 shadow-sm focus:border-sky-500 focus:ring-sky-500 text-sm" />
            <span asp-validation-for="Input.Title" class="text-xs text-red-600"></span>
        </div>

        <div>
            <label asp-for="Input.Description" class="block text-sm font-medium text-slate-700 mb-1"></label>
            <input asp-for="Input.Description"
                   class="mt-1 block w-full rounded-md p-1 border  border-gray-300 shadow-sm focus:border-sky-500 focus:ring-sky-500 text-sm" />
            <span asp-validation-for="Input.Description" class="text-xs text-red-600"></span>
        </div>

        <div>
            <label asp-for="Input.Content" class="block text-sm font-medium text-slate-700 mb-1"></label>
            <textarea asp-for="Input.Content" rows="5"
                      class="mt-1 block w-full rounded-md p-1 border border-gray-300 shadow-sm focus:border-sky-500 focus:ring-sky-500 text-sm"></textarea>
            <span asp-validation-for="Input.Content" class="text-xs text-red-600"></span>
        </div>

        <button type="submit"
                class="inline-flex justify-center items-center px-4 py-2 rounded-md bg-sky-600 text-white text-sm font-medium hover:bg-sky-700">
            Create
        </button>
        <a asp-page="Index" class="ml-2 text-sm text-slate-600 hover:text-slate-800">Cancel</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


